[project]
name = "sunrise"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "micropython-esp32-stubs>=1.26.0.post1",
]
